* {
  box-sizing: border-box;
}

:root {
  --header-bg: rgb(50, 60, 75);
  --border-light: 2px solid rgb(230, 230, 230);
  --border-dark: 2px solid rgb(210, 210, 210);
  --bg-light: rgb(250, 250, 250);
  --bg-dark: rgb(230, 230, 230);
  --tool-highlight: rgb(60, 150, 250);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  margin: 0 auto;
  padding: 0 2em;
  color: rgb(80, 80, 80);
  border: 2px solid transparent;

  border-image: linear-gradient(
      to bottom,
      transparent,
      rgb(220, 220, 220) 20%,
      rgb(220, 220, 220) 80%,
      transparent
    )
    1;

  button {
    cursor: pointer;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100%;
  padding: 1em;
  background-color: var(--header-bg);
  margin: 1em;

  & h1 {
    position: relative;
    color: white;
    margin: 0;
  }

  & .header-left,
  & .header-right {
    height: 4px;
    margin: 0 1em;
    flex: 1;

    background: linear-gradient(
      90deg,
      #ff0000 0%,
      #ff0000 13.667%,
      transparent 13.667%,
      transparent 16.667%,

      #fe9400 16.667%,
      #fe9400 30.333%,
      transparent 30.333%,
      transparent 33.333%,

      #fffb00 33.333%,
      #fffb00 47%,
      transparent 47%,
      transparent 50%,

      #00ff24 50%,
      #00ff24 63.668%,
      transparent 63.668%,
      transparent 66.668%,

      #0030ff 66.668%,
      #0030ff 80.333%,
      transparent 80.333%,
      transparent 83.333%,

      #ff00fc 83.333%,
      #ff00fc 97%,
      transparent 97%,
      transparent 100%
    );
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  & section.grid-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em 1em;
    border: var(--border-light);
    border-radius: 0.6em;
    background-color: var(--bg-light);

    & .grid-size-container {
      label[for="grid-size"] {
        font-weight: bold;
        font-size: 1.2em;
        color: inherit;

        & input#grid-size {
          width: 60px;
          padding: 0.4em;
          margin: 0.5em;
          border: var(--border-light);
          border-radius: 0.2em;
        }
      }
    }

    & button.build-grid-btn {
      width: max-content;
      padding: 0.6em;
      background-color: var(--tool-highlight);
      border: none;
      border-radius: 0.5em;
      color: white;
      font-weight: bold;

      &:hover {
        filter: brightness(105%);
      }
    }

    & label[for="toggle-grid"] {
      position: relative;
      font-size: 1em;
      width: max-content;
      padding-left: 1.2em;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;

      & input#toggle-grid {
        position: absolute;
        opacity: 0; /* Hide default checkbox */
      }

      /* Checkbox container */
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);

        width: 1.6em;
        height: 1.1em;

        background-color: rgb(200, 200, 200);
        border: 1px solid black;
      }

      /* Checkbox pointer */
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;

        background-color: rgb(160, 160, 160);

        width: 0.6em;
        height: 0.8em;
        border: 1px solid black;

        transform: translateY(-50%) translateX(-100%);
        transition: transform 0.1s ease;
      }

      &:hover {
        filter: brightness(1.05);
      }

      &:has(input#toggle-grid:checked)::before {
        background-color: rgb(250, 250, 250);
      }

      &:has(input#toggle-grid:checked)::after {
        transform: translateY(-50%);
      }
    }

    & label[for="color-select"] {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border-style: outset;
      border-color: rgb(255, 255, 255);
      overflow: hidden;

      & input#color-select {
        all: unset;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        flex-shrink: 0;
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.1);
        transition: transform 0.1s ease;
      }
    }
  }

  & section.grid-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    aspect-ratio: 1 / 1;
    margin: 1em 0;
    border: 3px solid var(--header-bg);
    overflow: hidden;

    & .row {
      display: flex;
      flex: 1;

      & .tile {
        outline: none;
        flex: 1;
      }
    }
  }

  &:has(#toggle-grid:checked) .tile {
    outline: 1px solid rgb(200, 200, 200);
  }

  & section.paint-tools {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 0.6em;
    gap: 0.6em;
    background-color: var(--bg-light);
    border: var(--border-light);
    border-radius: 0.5em;

    & button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 5em;
      padding: 0.6em;
      background-color: var(--bg-dark);
      border: var(--border-dark);
      border-radius: 0.5em;
      color: inherit;
      font-size: 0.8em;
      font-weight: bold;
      gap: 0.2em;

      &:not(.selected):hover {
        filter: brightness(103%);
      }

      &.selected {
        background-color: var(--tool-highlight);
        border-color: var(--tool-highlight);
        color: white;
      }
    }

    button.undo-btn {
      margin-left: 1.2em;
    }
  }
}

footer {
  text-align: center;
}
