* {
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

.row {
  display: flex;
  flex: 1;
}

.tile {
  outline: 1px solid black;
  flex: 1;
}
